<div class="panel panel-primary">
    <div class="panel-heading panel-title"> Actions</div>
    <div class="panel-body">
        <div class="leftmenu">
            <ul class="nav nav-pills nav-stacked">
                <!--<li> <a class="clickable" data-ng-click="loadChannels()">Load channels</a>-->
                <!--</li>-->
                <li> <a href="#user">User</a> </li>
                <li> <a href="#forum">Forum</a> </li>
                <li> <a href="#newchannel">New Channel</a> </li>
            </ul>
        </div>
    </div>
</div>